<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.vungle.plugin.flutter.vungle">

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
    tools:node="remove" 
    tools:selector="com.vungle.warren">
  </uses-permission>
</manifest>
